@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>

<p>Este é um Projeto em ASP.NET MVC capaz de realizar um "CRUD", focado na implementação da comunicação com Banco de Dados sem a utilização de ORM. Como por exemplo o Entity Framework. Com simplicidade, ele descarta modelos de arquitetura como o DDD (Driven Domain Design). Concentrando toda a regra de negócio em uma única camada, sendo ela, camada de apresentação.</p>
